<nav class="navbar">
  <div class="nav-logo">
    <a routerLink="/">
      <img src="https://www.ual.es/application/themes/ual/images/logo-ual.png" alt="UAL Logo" />
    </a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Real-Time Data</a></li>
    <li><a routerLink="/history" routerLinkActive="active">Historical Data</a></li>
    <li><a routerLink="/digitaltwin" routerLinkActive="active">Digital Twin</a></li>
  </ul>
</nav>
