
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">

      <!-- About Section -->
      <div class="footer-section about">
        <a class="footer-logo" routerLink="/">
          <img
            src="https://www.ual.es/application/themes/ual/images/logo-ual.png"
            alt="UAL Logo"
            style="height: 40px; width: auto;"
          />
        </a>
        <p>
          Web interface for real-time and historical sensor data, with an integrated
          digital twin to display weather and humidity.        </p>
      </div>

      <!-- Links Section -->
      <div class="footer-section links">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a routerLink="/history" routerLinkActive="active">Historical Data</a></li>
          <li><a routerLink="/digitaltwin" routerLinkActive="active">Digital Twin</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="footer-section contact">
        <h4>Contact Us</h4>
        <p>Email: support&#64;academichub.com</p>
        <p>Phone: +212 688-297989</p>
      </div>
    </div>

    <!-- Bottom -->
    <div class="footer-bottom">
      <p>&copy; 2025 opcua dashboard. All rights reserved.</p>
    </div>
  </div>
</footer>
